{% macro ctaBtn(class) -%}

 <div class="quickstart-cta__container">
    <span>Latest release: <a href="https://github.com/google/grr/releases/tag/v3.4.5.1-release" target="_blank" rel="noopener noreferrer">v3.4.5.1</a></span>
    <a class="quickstart-cta__btn {{ class }}" href="https://grr-doc.readthedocs.io/en/latest/quickstart.html" target="_blank" rel="noopener noreferrer">
    <span class="skew">Quickstart</span>
    </a>
</div>

{% endmacro %}
