$size: 6px;

.github-star {
  background: transparent;
  border: 1px solid $black;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 7px;
  position: relative;
  margin-left: 12px;

  .burger-menu__container & {
    background: $primary-blue;
    border: 1px solid $white;
  }
}

.github-star:before {
  background: $white;
  border-top: inherit;
  border-right: inherit;
  box-sizing: border-box;
  content: "";
  height: $size;
  left: -4px;
  position: absolute;
  top: 9px;
  transform: rotate(-135deg);
  width: $size;

  .burger-menu__container & {
    background: $primary-blue;
  }
}
