<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="slider-img" src="/images/carousel/endpoint-overview.png" alt="Work example" />
         </div>
        <div class="swiper-slide">
            <img class="slider-img" src="/images/carousel/filesystem-overview.png" alt="Work example" />
        </div>
        <div class="swiper-slide">
            <img class="slider-img" src="/images/carousel/endpoint-overview.png" alt="Work example" />
        </div>
    </div>
      <div class="swiper-pagination"></div>

    <div class="arrow-container">
        <div class="swiper-button-next">
            <img class="slick-arrow-img" src="/images/carousel/next-btn.svg" alt="Go to next image" />
        </div>
        <div class="swiper-button-prev">
            <img class="slick-arrow-img" src="/images/carousel/prev-btn.svg" alt="Go to previous image" />
        </div>
    </div>
</div> 

{# 
<div class="slider__container">
    <section class="slider center">
        <div>
            <img class="slider-img" src="/images/carousel/endpoint-overview.png" alt="Work example" />
        </div>
        <div>
            <img class="slider-img" src="/images/carousel/filesystem-overview.png" alt="Work example" />
        </div>
        <div>
            <img class="slider-img" src="/images/carousel/endpoint-overview.png" alt="Work example" />
        </div> 
        <div>
            <img class="slider-img" src="/images/carousel/workflow-results.png" alt="Work example" />
        </div>
    </section>
    <div class="arrow-container">
        <button class="slick-prev slick-arrow"> 
            <img class="slick-arrow-img" src="/images/carousel/prev-btn.svg" alt="Go to previous image" />
        </button>
        <button class="slick-next slick-arrow">
            <img class="slick-arrow-img" src="/images/carousel/next-btn.svg" alt="Go to next image" />
        </button>
    </div>
</div>
 #}
